<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RequestFail</title>

    <style>
        *{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
        }

        .home-button{
            padding: 10px; 
            background-color: #71a3f8;
            color: white;
            border-radius: 5px;
            font-size: medium;
        }
    </style>
</head>
<body>
    <h2>We could not process your request because the student you wanted to update/delete does not exist.</h2>
    <p>Please return to the home display page! </p>
    <button onclick="location.href='/students/view';" class="home-button">Display Students</button>
</body>
</html>